.register-page{
  padding-top: 100px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: auto;
  flex-direction: column;
  /* gap: 35px; */
  background: #e3e3e3;
  box-shadow: 16px 16px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
  border-radius: 8px;
  padding: 15px 0 ;
}

.card h1{
  margin-bottom: 20px;
}

.inputBox {
  position: relative;
  width: 300px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox label {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}
.inputBox .inputLabel,
.inputBox input:focus~label {
  transform: translateX(140px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
} 

.inputBox input:valid,
.inputBox input:focus {
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 8px;
}
.errContainer{
  height: 20px;
  margin: 5px 0 10px 0;
  color: red;
}
.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 1em;
}
.btnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

@media screen and (max-width: 400px){
  .inputBox input:focus~label {
    transform: translateX(120px) translateY(-15px);
  }
}