footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

footer h2{
    color: orangered;
}

footer h4{
    color: rgb(63, 58, 58);
}

footer p{
    font-family: 'Poppins', sans-serif;
    color: rgb(95, 92, 92);
}

.social_links{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
}

.social_links li{
    list-style: none;
}

.social_links a{
    text-decoration: none;
    color: rgb(63, 58, 58);
}


