nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color:var(--primary-color);
}
.nav li{
    list-style: none;
}

.nav a{
    text-decoration: none;
    color: dimgray;
}

.nav a:hover{
    color: darkgreen;
}

.navLink{
    text-decoration: none;
    color: dimgray;
}

.navLink:hover{
    color: darkgreen;
}

.nav h1{
    color: orange;
}