.profileToggle button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}   

.profileToggle .dropdown{
    position: absolute;
    background-color: green;
    bottom: -80px;
    right: -20px;
    /* padding: 0.5rem; */
}
.profileToggle{
    position: relative;
    background-color: red;
}