
.dropdown-toggle{
    border: none;
    background: none;
}
.dropdown-menu-center {
    left: 50% !important;
    transform: translateX(-50%);
}
  
.dropdown-toggle::after {
    display: none!important;
}
.dropdown-menu {
    min-width: unset !important;
  }
  